[submodule "px4_ros_com"]
	path = px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
	branch = release/1.13
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/rotary-auav-ui/px4_msgs.git
