[submodule "libraries/TaskScheduler"]
	path = libraries/TaskScheduler
	url = https://github.com/rotary-auav-ui/TaskScheduler.git
[submodule "libraries/painlessMesh"]
	path = libraries/painlessMesh
	url = https://github.com/rotary-auav-ui/painlessMesh.git
[submodule "libraries/MQUnifiedsensor"]
	path = libraries/MQUnifiedsensor
	url = https://github.com/miguel5612/MQSensorsLib.git
[submodule "libraries/DHTesp"]
	path = libraries/DHTesp
	url = https://github.com/rotary-auav-ui/DHTesp.git
[submodule "libraries/MQSensorsLib"]
	path = libraries/MQSensorsLib
	url = https://github.com/miguel5612/MQSensorsLib.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/Adafruit_BME680"]
	path = libraries/Adafruit_BME680
	url = https://github.com/adafruit/Adafruit_BME680.git
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "libraries/arduino-mqtt"]
	path = libraries/arduino-mqtt
	url = https://github.com/256dpi/arduino-mqtt
[submodule "libraries/ESP32-MAVLink"]
	path = libraries/ESP32-MAVLink
	url = https://github.com/rotary-auav-ui/ESP32-MAVLink.git
