[submodule "libraries/TaskScheduler"]
	path = libraries/TaskScheduler
	url = https://github.com/rotary-auav-ui/TaskScheduler
[submodule "libraries/painlessMesh"]
	path = libraries/painlessMesh
	url = https://github.com/rotary-auav-ui/painlessMesh